<% provide(:title, 'Home') %>
<h1>Home page</h1>
<p>This is the homepage for the most amazing app ever. </br>
Coming your way free of charge by 
<a href="http://practical-agile.com" target="_BLANK">Practical Agile</a></p>

