
<!-- <a href="http://practical-agile.com" target="_BLANK">Practical Agile</a></p> -->
<div class="center hero-unit">
  <h1>Agile Who?</h1>
  <h2>
    Trying to decide which Agile framework to use?</h2>
<h2>    Strugling with prioriting the change initiatives?</h2>
<h2>    Need resources which context relevant information</h2>
<h2>    You are in the right place (At least we think so...) </h2>
  

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
